@using WebDauGia.Models
@using WebDauGia.Helper
@section view_title{
    Thay đổi mật khẩu
}
@{ 
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@if (ViewBag.ErrorMsg != null)
{
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Lỗi!</strong> @ViewBag.ErrorMsg
    </div>
}
<form class="form-horizontal" method="post" action="/User/ChangePass">
   

                        <div class="col-xs-12 col-sm-8">
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-username" style="font-size:15px;color:black">Nhập mật khẩu cũ </label>
                                @{
                                    User us = (User)Session["user"];

                                }
                                <input type="hidden" name="UserName" value="@us.UserName" />
                                <div class="col-sm-8">
                                    <input class="col-xs-12 col-sm-10" type="password" id="tOPassWord" placeholder="Mật khẩu cũ" name="tOPassWord" />
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-first" style="font-size:15px;color:black">Nhập mật khẩu mới</label>

                                <div class="col-sm-8">
                                    <input class="col-xs-12 col-sm-10" type="password" id="tNPassWord" placeholder="Mật khẩu mới" name="tNPassWord" />
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-first" style="font-size:15px;color:black">Xác nhận mật khẩu mới</label>

                                <div class="col-sm-8">
                                    <input class="col-xs-12 col-sm-10" type="password" id="form-field-name" placeholder="Xác nhận mật khẩu mới" name="ReNewPassWord" />
                                </div>
                            </div>
                        </div>

                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">

                                @Html.Hidden("un", CurrentContext.GetCurUser().UserName)
                                <button class="btn btn-info" type="submit">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    Lưu thay đổi
                                </button>

                                &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    Hủy
                                </button>
                            </div>
                        </div>
    
</form>

