@using WebDauGia.Models
@model User
@section view_title{
}
@{
    ViewBag.Title = "SanPhamDangBan";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@section css{
    <link href="~/Content/DatePicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/jquery-3.2.0.min.js"></script>
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@
    
    <style type="text/css">
        .modal-header, h4, .close {
            background-color: #5cb85c;
            color: white !important;
            text-align: center;
            font-size: 30px;
        }

        .modal-footer {
            background-color: #f9f9f9;
        }
    </style>
}
@section js{
    <script src="~/Content/ckeditor_4.6.2_full/ckeditor/ckeditor.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $("#showlichsu").click(function () {
                $("#lichsu").modal();
            });
        });
        $(document).ready(function () {
            $("#showmota").click(function () {
                $("#mota").modal();
            });
        });
        $(document).ready(function () {
            $("#showdanhsach").click(function () {
                $("#myModal").modal();
            });
        });
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div id="user-profile-1" class="user-profile">
            <div class="tabbable">
                <ul class="nav nav-tabs padding-18">
                    <li class="active">
                        <a data-toggle="tab" href="#pictures">
                            <i class="pink ace-icon fa fa-picture-o bigger-120"></i>
                            Danh sách sản phẩm
                        </a>
                    </li>
                </ul>

                <div id="pictures" class="tab-pane">
                    <ul class="ace-thumbnails">
                        @*Hiện danh sách sản phẩm*@
                        <li>
                            <a href="#" data-rel="colorbox">
                                <img alt="150x150" src="~/assets/images/gallery/thumb-1.jpg" />
                                <div class="text">
                                    <div class="inner">Hiện tên sản phẩm</div>
                                </div>
                            </a>
                            <div class="tools tools-bottom">

                                @*Hiện lịch sử đấu giá*@
                                <a id="showlichsu" data-toggle="tooltip" data-placement="top" title="Lịch sử đấu giá!">
                                    <i class="ace-icon fa fa-history"></i>
                                </a>
                                @*Hiện danh sách người đấu giá*@
                                <a id="showdanhsach" data-toggle="tooltip" data-placement="top" title="Danh sách người đấu giá!">
                                    <i class="ace-icon fa fa-list-alt"></i>

                                </a>
                                @*Thêm mô tả*@
                                <a id="showmota" data-toggle="tooltip" data-placement="top" title="Thêm mô tả!">
                                    <i class="ace-icon fa fa-pencil"></i>

                                </a>
                                @*Xóa*@
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Xóa!">
                                    <i class="ace-icon fa fa-times red"></i>

                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Danh sách người chơi-->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-lock"></span>Danh sách người chơi đấu giá</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <form role="form">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Người chơi</th>
                                    <th>Kick</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>a</td>
                                    <td><button type="submit" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-remove"></span></button></td>

                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>

                </div>
            </div>

        </div>
    </div>

    <!-- Modal Lịch sử đấu giá-->
    <div class="modal fade" id="lichsu" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-lock"></span>Lịch sử đấu giá</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <form role="form">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Người chơi</th>
                                    <th>Giá tiền</th>
                                    <th>Thời gian</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Duy</td>
                                    <td>100000</td>
                                    <td>12-2-2017</td>
                                </tr>
                                <tr>
                                    <td>a</td>
                                    <td>20000</td>
                                    <td>12-2-2017</td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>

                </div>
            </div>

        </div>
    </div>

    <!-- Modal Thêm mô tả-->
    <div class="modal fade" id="mota" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-lock"></span>Mô tả sản phẩm</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <form role="form">
                        <textarea name="FullDes" id="FullDes"></textarea>
                        <script>
                            CKEDITOR.replace('FullDes', {
                                toolbar: [
                                    ['Font', 'FontSize', '-', 'Bold', 'Italic', 'Underline', 'StrikeThrough', '-', 'Undo', 'Redo', '-', 'Cut', 'Copy', 'Paste', 'Find', 'Replace', '-', 'Outdent', 'Indent', '-', 'Print'],
                                    '/',
                                    ['NumberedList', 'BulletedList', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'],
                                    ['Image', 'Table', '-', 'Link', 'Flash', 'Smiley', 'TextColor', 'BGColor', 'Source']
                                ]
                            });
                        </script>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>

                </div>
            </div>

        </div>
    </div>
    <!-- PAGE CONTENT ENDS -->
</div><!-- /.col -->
