@using WebDauGia.Models
@model User
@section view_title{
}
@{
    ViewBag.Title = "SanPhamDangBan";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@section css{
    <link href="~/Content/DatePicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
        .modal-header, h4, .close {
            background-color: #5cb85c;
            color: white !important;
            text-align: center;
            font-size: 30px;
        }

        .modal-footer {
            background-color: #f9f9f9;
        }
    </style>
}
@section js{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#myBtn").click(function () {
                $("#myModal").modal();
            });
        });
        $(document).ready(function () {
            $("#myBtn1").click(function () {
                $("#myModal").modal();
            });
        });
    </script>
}
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div id="user-profile-1" class="user-profile">
            <div class="tabbable">
                <ul class="nav nav-tabs padding-18">
                    <li class="active">
                        <a data-toggle="tab" href="#pictures">
                            <i class="pink ace-icon fa fa-picture-o bigger-120"></i>
                            Sản phẩm đang bán
                        </a>
                    </li>
                </ul>

                <div id="pictures" class="tab-pane">
                    <ul class="ace-thumbnails">
                        @*Hiện danh sách sản phẩm*@
                        <li>
                            <a href="#" data-rel="colorbox">
                                <img alt="150x150" src="~/assets/images/gallery/thumb-1.jpg" />
                                <div class="text">
                                    <div class="inner">Hiện tên sản phẩm</div>
                                </div>
                            </a>
                            <div class="tools tools-bottom">

                                <a id="loginLink" onclick="toggleTable();" href="#">
                                    <i class="ace-icon fa fa-link"></i>

                                </a>
                                <table id="loginTable" border="1" align="center" style="display:none">
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                    </tr>
                                </table>
                                <a href="#">
                                    <i class="ace-icon fa fa-paperclip"></i>

                                </a>

                                <a href="#">
                                    <i class="ace-icon fa fa-pencil"></i>

                                </a>

                                <a href="#">
                                    <i class="ace-icon fa fa-times red"></i>

                                </a>
                            </div>
                        </li>
                        <li><button type="button" class="btn btn-default btn-lg" id="myBtn">Danh sách người đấu giá</button></li>
                        <li><button type="button" class="btn btn-default btn-lg" id="myBtn1">Thêm mô tả</button></li>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header" style="padding:35px 50px;">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4><span class="glyphicon glyphicon-lock"></span>Danh sách người chơi đấu giá</h4>
                                    </div>
                                    <div class="modal-body" style="padding:40px 50px;">
                                        <form role="form">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Người chơi</th>
                                                        <th>Kick</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>a</td>
                                                        <td><button type="submit" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-off"></span> Kick</button></td>
                                                        
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                                        
                                    </div>
                                </div>

                            </div>
                        </div> 
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-12">
            <h3>Lịch sử đấu giá sản phẩm + tên sản phẩm</h3>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Người chơi</th>
                    <th>Giá tiền</th>
                    <th>Thời gian</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Duy</td>
                    <td>100000</td>
                    <td>12-2-2017</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>20000</td>
                    <td>12-2-2017</td>
                </tr>
            </tbody>
        </table>
    </div>


    <!-- PAGE CONTENT ENDS -->
</div><!-- /.col -->
