@{
    ViewBag.Title = "Home";
}

@section view_title{
    Trang chủ
}
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Top 5 Sản Phẩm Có Giá Cao Nhất</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    @Html.Action("Top5Price", "Product")
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Top 5 Sản Phẩm Có Nhiều Lượt Đấu Nhất</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    @Html.Action("Top5NumAuction", "Product")
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Top 5 Sản Phẩm Gần Kết Thúc</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    @Html.Action("Top5MinTime", "Product")
</div>