@{
    ViewBag.Title = "Home";
}

@section view_title{
    <i class="fa fa-home" aria-hidden="true"></i>
    Trang chủ
}
<div class="row">
    <p style="text-align:center; color:green; font-weight:bold; font-size:15px">Top 5 Sản Phẩm Có Giá Cao Nhất</p>
    @Html.Action("Top5Price", "Product")
</div>
<div class="row">
    <p style="text-align:center; color:green; font-weight:bold; font-size:15px">Top 5 Sản Phẩm Có Nhiều Lượt Đấu Nhất</p>
    @Html.Action("Top5NumAuction", "Product")
</div>
<div class="row">
    <p style="text-align:center; color:green; font-weight:bold; font-size:15px">Top 5 Sản Phẩm Gần Kết Thúc</p>
    @Html.Action("Top5MinTime", "Product")
</div>