@using WebDauGia.Helper
@using WebDauGia.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    var ctx = new QuanLyDauGiaEntities();
    int t = ctx.Requests.Count();
}
<h3>Bạn có @t yêu cầu mới từ người dùng cần xử lý</h3>
   